/* light.css: 👉 dark-on-light */

/** Don't forget to update theme-color in scripts/dark-mode.js if primary is changed. */
:root {
    --primary-text-color: #3b4351;
    --secondary-text-color: #455060;
    --primary-text-on-primary-color: #ffffff;
    --secondary-text-on-primary-color: #0c0c11;
    --theme-background-color: #FFFFFF;
    --primary-color: #0288d1;
    --secondary-color: #005b9f;
}

.raised {
    box-shadow: 0 3px 6px rgba(255, 255, 255, 0.2), 0 3px 6px rgba(255, 255, 255, 0.3);
}

.btn {
    border: .05rem solid var(--secondary-color) !important;
    color: var(--secondary-color) !important;
}
.btn.btn-primary {
    color: var(--primary-text-color) !important;
    background: var(--primary-color) !important;
}

.bg-gray a:not(.btn):not(.docs-logo), a {
    color: var(--primary-text-color) !important;
}
.bg-gray .card .card-title {
    color: var(--primary-color) !important;
}
.bg-gray .text-secondary, .card {
    color: var(--secondary-text-color) !important;
}

.bg-primary {
    color: var(--primary-text-color) !important;
    background: var(--primary-color) !important;
}
.bg-primary .card {
    color: var(--secondary-text-on-primary-color) !important;
}
.bg-primary .card .card-title {
    color: var(--primary-text-color) !important;
}

.docs-brand {
    color: var(--primary-color) !important;
}

.section-hero .docs-brand h2 {
    color: var(--primary-color) !important;
}

.section-features.bg-gray h2 {
    color: var(--primary-text-color) !important;
}

.grid-hero h1 {
    color: var(--primary-text-color) !important;
}

.grid-hero h2 {
    color: var(--secondary-text-color) !important;
}

/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
  
/* The actual popup (appears on top) */
.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
content: "";
position: absolute;
top: 100%;
left: 50%;
margin-left: -5px;
border-width: 5px;
border-style: solid;
border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
from {opacity: 0;} 
to {opacity: 1;}
}

@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1 ;}
}

